{% load crispy_forms_tags %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PAWAME</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Lora|Open+Sans&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sniglet&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
</head>

<body>
    <div class="container">
        <div class="row d-flex justify-content-center" id="login">
            <div class="col-md-3 text-center mt-4" id="bgimage">
                <div class="mt-5 pb-5">
                    <h2 style="color: #034724ec;" class="font-weight-bold">D-COM</h2>
                    <hr>
                    <p class="font-weight-bold">Delivering more than just energy</p>
                </div>
                <div class="mt-4">
                    <h2 style="color:#034724ec;" class="font-weight-bold">OUR PURPOSE</h2>
                    <hr>
                    <p class="font-weight-bold">To provide energy access as a gateway to financial empowerment and limitless opportunity in Sub-Saharan Africa.</p>
                </div>
            </div>
            <div class="col-md-3 mt-5">
                <form class="text-center  p-5" method="post" action="{% url 'login' %}">
                    {% csrf_token %}

                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar.jpg" height="90px" width="90px" alt="avatar mx-auto white" class="rounded-circle img-fluid">
                    <div class="md-form">
                        <label for="email" class="mb-5">Email</label>
                        <input type="text" name="email" required class="form-control" placeholder="user@example.com" id="email">
                    </div>
                    <div class="md-form">
                        <label for="passwd" class="mb-5">Password</label>
                        <input type="password" required name="password" id="passwd" class="form-control" placeholder="****">
                    </div>
                    <button type="submit" class="btn btn-sm btn-dark-green btn-rounded font-weight-bold mb-3">Log in</button>
                    <p style="font-style:italic;"> <a href="/admin" class="font-weight-bold green-text">Log in as Admin</a></p>
                </form>
            </div>
        </div>
    </div>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
</body>

</html>