{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" value="">
            <fieldset class="module aligned">
                <div class="form-row">
                    <label for="id_new_password1">
                        New Password
                    </label>
                    <input type="password" name="new_password1" required id="id_new_password1">
                </div>
                <div class="form-row">
                    <label for="id_new_password2">
                        Confirm Password
                    </label>
                    <input type="password" name="new_password2" required id="id_new_password2">
                </div>
                <input type="submit" value="Change my password">
            </fieldset>
        </form>
    </div>
</div>
<div class="col-md-2"></div>
{% endblock %}