.pawame {

    font-family: 'Sniglet', cursive;
    font-size: 23px;
    color: #0B920D;
  }



.links a {
  color: black;
}




.links h5 {
  border-bottom: solid 2px #0B920D;
}

.post-content {
  font-family: 'Open Sans', sans-serif;
}

.post-date {
  font-family: 'Lora', serif;
}

.major {
  font-size: 35px;
}

