{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block content %}

<div class="container">
  <h4 class="text-center font-weight-bold pt-2"> My Profile </h4>
  <hr>
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="d-flex" sytle="justify-content: space-around;">

                  {% if user.image %}                 
                  <img class="rounded-circle avatar z-depth-1-half mr-1" src="{{user.image.url}}" style="width:150px; height:150px;"> 
                  {% else %}
                   <img class="rounded-circle avatar z-depth-1-half mr-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmgQLi9YIA2uiwnuZ_LU_K-nOVMvilA2A5M2dNNescwKKBm6EI&s" style="width:150px; height:150px;"> 
                  {% endif %}


            <form action="{% url 'updateProfilePic' %}" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
              
            {% bootstrap_form editProfileForm layout='inline '%}
            <div class="form-group">
              <button type="submit" class="btn btn-success btn-sm px-2 py-1"><i class="far fa-edit mr-2" aria-hidden="true"></i> Edit </button>
            </div>
            </form>
      </div>


    </div>
  </div>

  {% endblock %}