{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h4 class="font-weight-bold mt-1">
        Employees
      </h4>
    </div>
    <div class="col-md-2 offset-md-8">
      <button type="button" class="btn btn-sm pull-right btn-dark-green">Add Employee</button>
    </div>
  </div>

  <div class="row mt-5 mx-auto">
    <div class="col-md-2">
      <h5 class="font-weight-bold text-center pb-2 titles">HR</h5>
      <div class="avatar mx-auto white mx-auto text-center"><img
          src="https://mdbootstrap.com/img/Photos/Avatars/img%20(22).jpg" height="120px" width="120px"
          alt="avatar mx-auto white" class="rounded-circle img-fluid">
        <h5 class="font-weight-light pt-1">Samantha <br> <b>Admin</b></h5>
      </div>
    </div>
    <div class="col-md-2">
      <h5 class="font-weight-bold text-center pb-2">Finance</h5>
      <div class="avatar mx-auto white text-center"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(25).jpg"
          height="120px" width="120px" alt="avatar mx-auto white" class="rounded-circle img-fluid">
        <h5 class="font-weight-light pt-1">Stacy <br> <b>Admin</b></h5>
      </div>
    </div>
    <div class="col-md-2">
      <h5 class="font-weight-bold text-center pb-2">Inventory</h5>
      <div class="avatar mx-auto white text-center"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(24).jpg"
          height="120px" width="120px" alt="avatar mx-auto white" class="rounded-circle img-fluid">
        <h5 class="font-weight-light pt-1">Suzie <br> <b>Admin</b></h5>
      </div>
    </div>
    <div class="col-md-2">
      <h5 class="font-weight-bold text-center pb-2">Marketing</h5>
      <div class="avatar mx-auto white text-center"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg"
          height="120px" width="120px" alt="avatar mx-auto white" class="rounded-circle img-fluid">
        <h5 class="font-weight-light pt-1">Someone <br> <b>Admin</b></h5>
      </div>
    </div>
    <div class="col-md-2">
      <h5 class="font-weight-bold text-center pb-2">IT</h5>
      <div class="avatar mx-auto white text-center"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(26).jpg"
          height="120px" width="120px" alt="avatar mx-auto white" class="rounded-circle img-fluid">
        <h5 class="font-weight-light pt-1">Stella <br> <b>Admin</b></h5>
      </div>
    </div>
  </div>

  <!-- <div class="avatar mx-auto white">
    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(24).jpg"
      alt="avatar mx-auto white" class="rounded-circle img-fluid">
  <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg"
        alt="avatar mx-auto white" class="rounded-circle img-fluid">
  <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg"
          alt="avatar mx-auto white" class="rounded-circle img-fluid">
  <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg"
            alt="avatar mx-auto white" class="rounded-circle img-fluid">
  <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg"
              alt="avatar mx-auto white" class="rounded-circle img-fluid"> -->
  {% endblock %}