{% extends 'base.html' %}
{% block content %}


<div class="container">
  <h4 class="text-center font-weight-bold pt-3"> HUMAN RESOURCE</h4>
  <hr>
  <div class="row d-flex justify-content-center">
    <div class="col-md-4">
      <div class="text-center">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" height="150px" width="150px"
          class="rounded-circle" alt="woman avatar">
      </div>

      <div class="md-form">
        <input type="email" id="name" class="form-control">
        <label for="name">Name</label>
      </div>
      <div class="md-form">
        <input type="email" id="email" class="form-control">
        <label for="email">E-mail</label>
      </div>
      <div class="md-form">
        <input type="email" id="bio" class="form-control">
        <label for="bio">Bio</label>
      </div>
      <div class="file-field mb-2">
        <div class="btn btn-outline-green btn-sm">
          <input type="file">
        </div>
        <!-- <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload your file">
          </div>
        </div> -->
      </div>
      <button class="btn btn-sm btn-green">EDIT</button>
    </div>
  </div>

  {% endblock %}


