{% extends 'base.html' %} {% block content %}
<div>
    <div class="text-center mt-2 pt-5">
        <h1 class="font-weight-bold search pt-5" style="color: 
    #3c9a46;">
            D-COM
        </h1>
        <p>
            Welcome to the Super-Admin custom search.
        </p>
    </div>
    <form method="get" role="search" action="{% url 'searchResults'%}">
        <div class="form-row d-flex justify-content-center">
            <!-- Grid column -->
            <div class="col-7 text-center">
                <!-- Material input -->
                <div class="md-form search-link">
                    <input type="text" class="form-control" name="employee" id="search_form" placeholder="Who are you looking for?">
                    <a href="searchResults.html"></a>
                    <button class="btn btn-sm btn-dark-green font-weight-bold mt-4" type="submit">
            Search Employee
          </button>

                    </a>
                </div>
            </div>
        </div>
    </form>

    <!-- online users -->


    <div class="row onlineUsers">
        <button id="popover" class="btn btn-sm btn-green ml-auto" title="Employee Online Status" data-toggle="popover" data-placement="top" data-trigger="focus"> Who's online? </button>

        <div id="popover-content" style="display:none;">
            {% for user in onusers %} {% if user.is_online %}
            <p>
                {% if user.image %}
                <img class="rounded-circle avatar z-depth-1-half mr-1" src="{{user.image.url}}" style="width:30px; height:30px;"> {% else %}
                <img class="rounded-circle avatar z-depth-1-half mr-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmgQLi9YIA2uiwnuZ_LU_K-nOVMvilA2A5M2dNNescwKKBm6EI&s" style="width:30px; height:30px;"> {% endif %} {{ user.username }}
                <span
                    class="ml-3 text-success" style="font-weight: bold;"> Online <span> 
                <span class="ml-1" style="height: 15px; width: 15px; background-color: #0B920D; border-radius: 50%; display: inline-flex;"></span> <br></p>
            {% else %}
            <p>
                {% if user.image %}
                <img class="rounded-circle avatar z-depth-1-half mr-1" src="{{user.image.url}}" style="width:30px; height:30px;"> {% else %}
                <img class="rounded-circle avatar z-depth-1-half mr-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmgQLi9YIA2uiwnuZ_LU_K-nOVMvilA2A5M2dNNescwKKBm6EI&s" style="width:30px; height:30px;"> {% endif %} {{ user.username }}
                <span
                    class="ml-3 text-dark" style="font-weight: bold;"> Offline <span> 
              <span class="ml-1" style="height: 15px; width: 15px; background-color: #a9a9a9; border-radius: 50%; display: inline-flex;"></span>
                    <br></p>
            {% endif %} {% endfor %}

        </div>
    </div>

    <!-- end of online users -->
</div>

{% endblock %}