{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row d-block justify-content-center align-items-center" id="notification">
        <div class="col-2">
            <img class="rounded-circle avatar z-depth-1-half " src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg">
        </div>
        <div class="col-8">
            <p style="list-style: height 4px;"> Employee Username </p>
        </div>
        <div class="col-2">
            <p> Edit Profile </p>
        </div>

    </div>

</div>


{% endblock %}