{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h3 class="text-center font-weight-bolder pt-3 pb-3">
      INFORMATION TECHNOLOGY<hr>
    </h3>
    
    <div class="media">
      <img class="d-flex rounded-circle avatar z-depth-1-half mr-3"
        src="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg" alt="Avatar">
      <div class="media-body">
        <h5 class="mt-0 font-weight-bold dark-text">Monthly Allowances</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
        odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
        fringilla. Donec lacinia congue felis in faucibus.
        <h6 class="font-weight-bold pt-2">
          <i>Posted by:HOD on Jan 13 2020</i>
        </h6>

        <a href="#">view all comments</a>
        <div class="media mt-3 shadow-textarea">
          <img class="d-flex rounded-circle avatar z-depth-1-half mr-3"
            src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="Generic placeholder image">
          <div class="media-body">
            <div class="form-group basic-textarea rounded-corners">
              <textarea class="form-control z-depth-1" id="exampleFormControlTextarea345" rows="3"
                placeholder="Write your comment..."></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>

{% endblock %}