<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark elegant-color lighten-2">
    <a class="navbar-brand pawame" href="#" style="color: #42a949;">PAWAME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
      aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link mr-2" href="#">Home
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-2" id="navbarDropdownMenuLink-555" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Departments
          </a>
          <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-555">
            <a class="dropdown-item" href="#">Human Resource</a>
            <a class="dropdown-item" href="#">Finance</a>
            <a class="dropdown-item" href="#">Inventory</a>
            <a class="dropdown-item" href="#">Marketing</a>
            <a class="dropdown-item" href="#">IT</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Employees</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Notification (7)</a>

        </li>
        <!-- <form class="form-inline center-search">
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </div>
        </form> -->
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light mt-1">12
            <i class="fas fa-envelope"></i>
          </a>
        </li>
        <li class="nav-item avatar">
          <a class="nav-link" aria-haspopup="true" aria-expanded="false">Super-Admin
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" class="rounded-circle z-depth-0"
              height="30px" width="30px" alt="avatar image">
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->

 