{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
    <h3 class="text-center font-weight-bolder pt-3 pb-3" style="color: #0B920D;">Notifications</h3>
    {% for update in updates %}
    <div class="media mt-4 px-1" id="notification" data-toggle="modal" data-target="#notificationModal">
        <img class="card-img-100 d-flex z-depth-1 mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg"
            alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="font-weight-bold mt-0">
                <a href="">Daisy</a>
            </h5>

            <h6>{{update.title}}</h6>
            <p>{{update.update | safe}}</p>

        </div>

    </div>
    <!-- modal -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Notifications" id="notificationModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold dark-text post-content text-center"
                        id="notificationModalTittle">Meeting</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="post-content">
                        A meeting has been scheduled for 30th January 2019. The meeting is meant to discuss the months
                        activities.<br> All members are asked to attend.
                    </p>

                    <h6 class="text-muted pt-2 post-date">
                        <i>Posted by:HR admin on Jan 12 2020</i>
                    </h6>

                </div>
                <div class="modal-footer justify-content-center">
                    <a href="{% url 'approve' update.id%}" class="btn btn-success btn-sm">Approve</a>
                    <button type="button" class="btn btn-danger btn-sm">Disapprove</button>
                </div>
            </div>
        </div>

    </div>
    {% endfor %}

</div>


{% endblock %}