{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row" id="notification">
        <div class="col-2">
            <img class="rounded-circle avatar z-depth-1-half " src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg">
        </div>
        <div class="col-8">
            <p style="list-style: height 4px;">Daisy posted n update that needs approval</p>
        </div>
        <div class="col-2">
            <p>3 minutes ago</p>
        </div>

    </div>

</div>


{% endblock %}