{% extends 'base.html' %}

{% block content %}

<div class="container">
  <h3 class="text-center font-weight-bolder pt-3 pb-3">
    General Updates
  </h3>
  <hr>
  <form class="mx-auto form-inline md-form form-sm mt-0">
    <i class="fas fas fa-pencil-alt" aria-hidden="true"></i>
    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Create a New Post"
      aria-label="Post">
        <a class="dropdown-toggle mr-2" id="navbarDropdownMenuLink-555" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Post to
        </a>
        <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-555">
          <a class="dropdown-item" href="#">Human Resource</a>
          <a class="dropdown-item" href="#">Finance</a>
          <a class="dropdown-item" href="#">Inventory</a>
          <a class="dropdown-item" href="#">Marketing</a>
          <a class="dropdown-item" href="#">IT</a>
        </div>
  </form>
</div>

{% endblock %}